:root {
  --medium-purple-100: #262DAA;
  --medium-purple: #6356DD;
  --light-border: #F4F2ED;
  --border: #CBCBCB;
  --gray-bg: #F8F8F8;
  --black-80: #333333;
  --cream-20: #FCFBF8;
}

body {
  padding: 0;
  margin: 0;
  height: 100vh;

  font-family: aktiv-grotesk, sans-serif;
  color: var(--black-80);
}

#root {
  height: 100%;
}

.react-grid-layout {
  position: relative;
  transition: height 200ms ease;
  height: 100%;
}
.dash-wrapper {
  height: 100%;
  position: relative;
}
.grid-decoy-wrapper {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(10, 100px);
  gap: 10px;
  padding: 10px;
}
.decoy {
  height: 100%;
  width: 100%;
  border-radius: 8px;
  border: 1px solid var(--border);
  background: var(--gray-bg);
  /* margin: 20px; */
}
.sylv {
  height: 100%;
  width: 100%;
  object-fit: contain;
  /* max-height: fit-content; */
  /* width: fit-content; */
  /* height: 100%; */
}
.react-grid-item {
  transition: all 200ms ease;
  transition-property: left, top;
  border-radius: 8px;
  background-color: #FFFFFF;
  box-shadow: 0 6px 10px 0 rgba(38,32,86,0.07), 0 1px 18px 0 rgba(38,32,86,0.06), 0 3px 5px -1px rgba(38,32,86,0.1);  
}

.react-grid-item.cssTransforms {
  transition-property: transform;
}

.react-grid-item.resizing {
  z-index: 1;
  will-change: width, height;
}

.react-grid-item.react-draggable-dragging {
  transition: none;
  z-index: 3;
  will-change: transform;
}

.react-grid-item.react-grid-placeholder {
  background: transparent;
  border: 1px dashed var(--medium-purple-100);
  opacity: 1;
  border-radius: 5px;
  transition-duration: 100ms;
  z-index: 2;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}

.react-grid-item.react-grid-placeholder .react-resizable-handle {
  display: none;
}

.react-grid-item.react-resizable-hide .react-resizable-handle {
  display: none;
}

.react-grid-item .react-resizable-handle {
  opacity: 0;
  pointer-events: none;
  position: absolute;
  bottom: 9px;
  right: 9px;
  cursor: se-resize;

  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 0 20px 20px;
  border-color: transparent transparent var(--medium-purple) transparent;
}

.react-grid-item:hover .react-resizable-handle {
  opacity: 1;
  pointer-events: auto;  
}

.react-grid-item .react-resizable-handle::after {
  content: "RESIZE";
  font-family: 'ibm-plex-mono';
  font-size: 14px;
  color: var(--medium-purple-100);
  position: absolute;
  right: 18px;
  top: 0;
}

.remove-widget {
  position: absolute;
  opacity: 0;
}

.react-grid-item .remove-widget {
  position: absolute;
  opacity: 0;
  pointer-events: none;
  bottom: 9px;
  left: 9px;
  cursor: pointer;

  display: flex;
  gap: 2px;
  padding: 3px;
  color: var(--medium-purple-100);
  font-size: 14px;
  text-transform: uppercase;
  font-family: 'ibm-plex-mono', sans-serif;
}

.react-grid-item:hover .remove-widget {
  opacity: 1;
  pointer-events: auto;
}

/* ------ */
.page-wrapper {
  height: 100%;
  display: grid;
  grid-template-columns: 300px 1fr;
  grid-template-rows: 1fr;
}

.left-panel {
  /* padding: 10px 15px; */
  background: white;
  display:flex;
  flex-direction: column;
  gap: 20px;
}

.left-top-section {
  padding: 20px;
  border-bottom: 1px solid var(--light-border);
  display:flex;
  flex-direction: column;
  gap: 20px;
}

.right-panel {
  background: var(--cream-20);
  padding: 20px;
}

/* --- */

.widget-title {
  font-family: meno-display;
  font-size: 24px;
  line-height: 30px;
  font-weight: 600;
}

.widget-header {
  padding: 20px;
  border-bottom: 1px solid var(--light-border);
}

.drop-removed-items {
  border: 1px dashed var(--medium-purple-100);
  border-radius: 4px;
  color: var(--medium-purple-100);
  padding: 30px 10px;
  text-align: center;
  font-size: 16px;
}

/* ---- */

.available-widgets-wrapper {
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.droppable-element {
  border: 1px solid var(--light-border);
}

.unused-widget {
  cursor: pointer;
  box-shadow: 0 6px 10px 0 rgba(38,32,86,0.07), 0 1px 18px 0 rgba(38,32,86,0.06), 0 3px 5px -1px rgba(38,32,86,0.1);
}